@{
    ViewBag.Title = "Попроси деньги у начальника";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">@ViewBag.Title это сервис, в котором вы сможете попросить деньги у начальника, и, если он захочет, вы получите что-нибудь от бухгалтера.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Сотрудникам</h2>
        <ul>
            <li>Просите любую сумму.</li>
            <li>Указывайте причину, из-за которой вам нужны деньги.</li>
            <li>Забудьте об унизительных походах в кабинет начальника для выпрашивания денег.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Бухгалтерам</h2>
        <ul>
            <li>Почувствуйте себя главным: ведь теперь и от вас что-то зависит в этой жизни.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Директорам</h2>
        <ul>
            <li>Вся власть по прежнему в ваших руках.</li>
            <li>Решайте сами, кому дать, а кому - нет.</li>
        </ul>
    </div>
</div>